{% extends 'appointment/base.html' %}

{% block body %}
{% load static %} 
<!DOCTYPE html>






<style>

        .back {
        background-image: url( "{% static 'img/portfolio/black apple.png' %}" );
        background-size: 370px 300px;
    }



</style>

<body>
<h2>이름과 스케줄을 입력해주세요</h2>
    <form action="/schedule/{{ id }}/" method="POST">
        {% csrf_token %}
        <label for="user_name">이름</label>
        <input type="text" id="user_name" name="user_name">

        <div id="input-schedule-area">
            <table class="table table-striped">

              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">월</th>
                  <th scope="col">화</th>
                  <th scope="col">수</th>
                  <th scope="col">목</th>
                  <th scope="col">금</th>
                  <th scope="col">토</th>
                  <th scope="col">일</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">08 ~ 09</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="8">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">09 ~ 10</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="9">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">10 ~ 11</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="10">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">11 ~ 12</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="11">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">12 ~ 13</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="12">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">13 ~ 14</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="13">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">14 ~ 15</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="14">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">15 ~ 16</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="15">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">16 ~ 17</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="16">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">17 ~ 18</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="17">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">18 ~ 19</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="18">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">19 ~ 20</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="19">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">20 ~ 21</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="20">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">21 ~ 22</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="21">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">22 ~ 23</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="22">
                      </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="row">23 ~ 24</th>
                    {% for i in '0123456' %}
                      <td>
                          <input type="checkbox" name="{{ i }}[]" value="23">
                      </td>
                    {% endfor %}
                </tr>
              </tbody>

            </table>

            <div class="submit-btn">
              <input type="submit" class="btn btn-primary"></input>
            </div>
        </div>
    </body> 
{#    <input type="checkbox" name="1[]" value="1" />#}
{#    <input type="checkbox" name="1[]" value="2" />#}
{#    <input type="checkbox" name="1[]" value="3" />#}
{#    <input type="checkbox" name="1[]" value="4" />#}
{#    <div class="submit-btn">#}
{#      <input type="submit" class="btn btn-primary">등록</input>#}
{#    </div>#}

    </form>
{% endblock %}